@import "../../styles/constants.scss";

.title{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
    text-justify: center;
    height: 35vh;
    width: 100%;
    background: linear-gradient(180deg, #3E4095 0%, #6162B4 100%);;
    @media #{$mobile}{
        height: 30vh;
    }
    h1{
        justify-self: center;
        align-self: center;
        margin: 60px 0 0 0;
        color: white;
        font-family: $TitleFont;
        font-size: 40px;
        line-height: 49px;
        font-weight: 700;
    }
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #595858;
}

.contact{
    height:75vh;
    width:100%;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 3% 26% 18% 18% 30% 3%;
    grid-template-rows: 20% 80%;
    grid-gap: 17px;
    margin-top: 30px;
    margin-bottom: 60px;
    @media #{$desktopXl}{
        grid-template-columns: 3% 24% 16% 16% 35% 3%;
        grid-template-rows: 20% 80%;
    }
    @media #{$mobile}{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}
.wpp{
    width: 100%;
    height: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    grid-column: 4;
    grid-row: 1;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    color: #595858;

    div{
        margin-left: 3%;
        h5{
            font-family: $TitleFont;
            font-weight: 700;
            color: #595858;
            margin: 0 0 6px 0;

        }
        p{
            font-family: $MainFont;
            font-weight: 400;
        }
    }
    @media #{$mobile}{
        width: 90%;
        height: 96px;
        margin: auto;
        justify-content: flex-start;
        align-items:     center;
    }
}
.wppImg{
    font-size: 3rem;
    margin-bottom: 7%;
    color:#3E4095;
    @media #{$mobile}{
        margin: 0 0 2% 2%;
    }
    
}
.tel{
    width: 100%;
    height: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    grid-column: 3;
    grid-row: 1;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;


    div{
        margin-left: 3%;
        h5{
            margin-bottom: 0px;
            font-family: $TitleFont;

            font-weight: 700;
            color: #595858;

        }
        p{
            font-family: $MainFont;
            font-weight: 400;
        }
    }
    @media #{$mobile}{
        width: 90%;
        height: 96px;
        margin: auto;
        justify-content: flex-start;
        align-items:     center;
    }
}

.email{
    width: 100%;
    height: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    grid-column: 2;
    grid-row: 1;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;

    div{
        margin-left: 3%;
        h5{
            margin-bottom: 0px;
            font-family: $TitleFont;
            font-weight: 700;
            color: #595858;

        }
        p{
            font-family: $MainFont;
            font-weight: 400;
        }
    }
    @media #{$mobile}{
        width: 90%;
        height: 96px;
        margin: auto;
        justify-content: flex-start;
        align-items:     center;
    }
}
.direction{
    width: 100%;
    height: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    grid-column: 2/5;
    grid-row: 2;
    display: flex;
    .pointImg{
        font-size: 3rem;
        color:#3E4095;
        margin: 3% 0 0 3%;
    }

    div{
        margin: 3% 0px 0px 10px;
        width: 90%;
        height: 96%;
        h5{
            margin-bottom: 0px;
            font-family: $TitleFont;
            font-weight: 700;
        }
        p{
            font-family: $MainFont;
            font-weight: 400;
        }
        .map{
            border-radius: 20px;
            width: 100%;
            height: 70%;

            @media #{$mobile}{
                width: 90%;
                height: 70vh;
                margin: auto;
                justify-content: flex-start;
            }
        }
    }
    @media #{$mobile}{
        width: 90%;
        height: 100%;
        margin: auto;
        justify-content: flex-start;
    }
}
.imgBig{
    width: 100%;
    height: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    grid-column: 5;
    grid-row: 1/3;
    border-radius: 12px;
    background-image: url(../../public/fotoContact.png);
    background-size: 100% 100%;     
    background-repeat: no-repeat;
    background-position: right; 

    @media #{$mobile}{
        width: 90%;
        height: 40vh;
        margin: auto;
        justify-content: flex-start;
        background-image: url(../../public/fotoContactMob.png);
        background-size: 100% 100%;     
        background-repeat: no-repeat;
        background-position: center; 
    }

}