@import "../../styles/constants.scss";

.body{
  background-color: #E5E5E5;

}
.title {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  text-align: center;
  text-justify: center;
  height: 35vh;
  width: 100%;
  background: linear-gradient(180deg, #3E4095 0%, #6162B4 100%);

  @media #{$mobile} {
    height: 30vh;
  }

  h1 {
    justify-self: center;
    align-self: center;
    margin: 60px 0 0 0;
    color: white;
    font-family: $TitleFont;
    font-size: 40px;
    line-height: 49px;
    font-weight: 700;

    @media #{$mobile} {
      width: 90%;
      font-size: 35px;
      line-height: 49px;
    }
  }
}

.container {
  height: 80vh;
  width: 90%;
  margin: 5%;

  display: flex;
  flex-direction: column;
  color: #595858;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 3% 62% 30% 3%;
  grid-template-rows: 20% 80%;
  grid-gap: 17px;


  @media #{$desktopXl} {
    grid-template-columns: 3% 56% 35% 3%;
    grid-template-rows: 20% 80%;
  }

  @media #{$mobile} {
    margin-top: 15%;
    margin-bottom: 15%;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.contact {
  background-color: white;
  height: 100%;
  width: 100%;
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: 40% 30% 30%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  color: #595858;

  @media #{$desktopXl} {
    grid-template-columns: repeat(3, 32%);
  }

  @media #{$mobile} {
    background-color: #E5E5E5;
    width: 100%;
    margin: auto;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 32%);
    grid-gap: 20px;
    color: #fff;
    box-shadow: none;


  }
}

.wpp {
  width: 100%;
  height: 100%;
  grid-column: 3;
  grid-row: 1;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;

  @media #{$mobile} {
    grid-row: 3;
    grid-column: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    color: #595858;
    background-color: white;

  }

  div {
    margin-left: 3%;
    margin-bottom: 5%;

    @media #{$mobile} {
      margin: auto 0 auto 3%;
    }

    h5 {
      font-family: $TitleFont;
      font-weight: 700;
      color: #595858;
      margin: 0 0 6px 0;

    }

    p {
      font-family: $MainFont;
      font-weight: 400;

    }
  }

  @media #{$mobile} {
    width: 90%;
    height: 96px;
    margin: auto;
    justify-content: flex-start;
    align-items: center;
  }
}

.wppImg {
  font-size: 3rem;
  margin-bottom: 7%;
  color: #3E4095;

  @media #{$mobile} {
    margin: 0 0 2% 2%;
  }

}

.tel {
  width: 100%;
  height: 100%;
  grid-column: 2;
  grid-row: 1;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  margin-left: 7%;

  @media #{$mobile} {
    grid-row: 2;
    grid-column: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    color: #595858;
    background-color: white;

  }

  div {
    margin-left: 3%;

    h5 {
      margin-bottom: 0px;
      font-family: $TitleFont;

      font-weight: 700;
      color: #595858;

    }

    p {
      font-family: $MainFont;
      font-weight: 400;
    }
  }

  @media #{$mobile} {
    width: 90%;
    height: 96px;
    margin: auto;
    justify-content: flex-start;
    align-items: center;
  }
}

.email {
  width: 100%;
  height: 100%;
  grid-column: 1;
  grid-row: 1;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  margin-left: 10%;

  @media #{$mobile} {
    grid-row: 1;
    grid-column: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    color: #595858;
    background-color: white;

  }

  div {
    margin-left: 3%;

    h5 {
      margin-bottom: 3%;
      font-family: $TitleFont;
      font-weight: 700;
      color: #595858;
      margin-top: -8%;

      @media #{$mobile} {
        margin: auto 0 3% 0;
      }

    }

    p {
      font-family: $MainFont;
      font-weight: 400;
    }
  }

  @media #{$mobile} {
    width: 90%;
    height: 96px;
    margin: auto;
    justify-content: flex-start;
    align-items: center;
  }
}

.direction {
  background-color: white;
  width: 100%;
  height: 100%;
  grid-column: 2/3;
  grid-row: 2;

  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 30% 70%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  color: #595858;

  @media #{$mobile} {
    width: 90%;
    height: 70vh;
    margin: auto;
    justify-content: flex-start;
    margin-top: 15%;
    grid-template-rows: 20% 80%;

  }

  div {
    margin: 5% 0px 0px 10px;
    width: 100%;
    height: 100%;
    grid-column: 2;
    grid-row: 1;

    h5 {
      margin-bottom: 0px;
      font-family: $TitleFont;
      font-weight: 700;

      @media #{$mobileS} {
        margin-left: 5%;
      }
    }


    p {
      font-family: $MainFont;
      font-weight: 400;

      @media #{$mobileS} {
        margin-left: 5%;
      }
    }


  }


}

.pointImg {
  font-size: 3rem;
  color: #3E4095;
  margin: 50% 0 0 0%;
  grid-column: 1;
  grid-row: 1;
}

.map {
  width: 100%;
  height: 100%;
  grid-column: 1/3;
  grid-row: 2;

  @media #{$mobile} {
    width: 100%;
    height: 100%;
    margin: auto;
    justify-content: flex-start;
  }

  @media #{$mobileS} {
    margin-top: 5%;
    height: 95%;
  }
}

.imgBig {
  width: 100%;
  height: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  grid-column: 3;
  grid-row: 1/3;
  border-radius: 12px;
  background-image: url(../../public/fotoContact.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: right;

  @media #{$mobile} {
    width: 90%;
    height: 40vh;
    margin: auto;
    justify-content: flex-start;
    background-image: url(../../public/fotoContactMob.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

}