@import "../../styles/constants.scss";

.body {
  background-color: #E5E5E5;

}

.container {
  height: 80vh;
  width: 80%;
  margin: 10%;
  margin-bottom: 0;
  margin: 10%;
  margin-top: 5%;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  color: #595858;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-items: flex-start;

  @media #{$mobile} {
    margin: 0%;
    margin-top: 10%;
    margin-bottom: 15%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    height: 100%;

  }
}


.contact {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  padding: 0 10%;

  @media #{$mobile} {
    width: 100%;
    padding: 0%;
  }

}

.contact_item {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  justify-content: flex-start;
  justify-items: flex-start;
  align-items: flex-start;
  align-content: center;
  margin-left: 7%;
  margin-bottom: 10%;


  @media #{$mobile} {
    grid-row: 2;
    grid-column: 1;
    border-radius: 12px;
    color: #595858;
    margin-left: 0%;

  }

  div {
    margin-left: 3%;
    background-color: white;
    padding: 5%;

    border-radius: 0 200px 200px 0;

    h5 {
      margin-bottom: 0px;
      font-family: $TitleFont;
      font-weight: 700;
      color: #595858;
      font-size: 1.2rem;

      @media #{$mobile} {
        font-size: 1.2rem;
      }

    }

    p {
      font-family: $MainFont;
      font-weight: 400;
      font-size: 1rem;

      @media #{$mobile} {
        font-size: 0.7rem;
      }
    }

    @media #{$mobile} {
      padding: 2%;

    }
  }
}

.contact_icon {
  font-size: 2rem;
  margin: auto 0;
  color: white;
  background-color: #3E4095;
  padding: 5%;
  border-radius: 200px;
  ;

  @media #{$mobile} {
    margin: 0;
    padding: 5%;
    font-size: 2rem;
  }

}

.map_container {
  width: 50%;

  @media #{$mobile} {
    width: 100%;
  }

  .map {
    width: 100%;
    height: 100%;

    @media #{$mobile} {
      width: 100%;
      height: 80vh;
    }

  }
}