@import "../../styles/constants.scss";

.hero {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  overflow: hidden;
  background-color: #6F6BC0;
  position: relative;

  @media #{$mobile} {
    flex-direction: column-reverse;
    height: 20vh;

    // background-color: transparent;

  }

  h3 {
    position: absolute;
    top: 40%;
    left: 10%;
    z-index: 100;
    font-size: 2.5rem;
    color: white;

    @media #{$mobile} {
      top: 2rem;
      left: 15%;
      font-size: 1.5rem;

    }
  }
}


.seccion2 {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;

  @media #{$mobile} {
    width: 100%;
    height: 100vh;

  }

  img {
    align-self: left;
    width: 100vw;
    margin: 0px -5px 0px 0px;
    overflow: hidden;


    @media #{$mobile} {
      align-self: left;
      // margin-left: 50%;
      margin: 0;
      height: 130%;
    }
  }
}




.layout {

  display: block;
  background-color: rgba(130, 56, 242, 0.702);
  height: 40vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;

}


.wave {
  z-index: 1500;
  position: absolute;
  width: 100%;
}