@import "../../../styles/constants.scss";

.card{
    width: 360px;
    height: 423px;
    background: $white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.card img {
    width: 320px;
    height: 240px;
    margin: auto;
}
.card h5{
    font-family: $TitleFont;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.25px;
    margin-bottom: 0;
    margin-left: 20px;
    color: #000000;
}
.card p{
    font-family: $MainFont;
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    letter-spacing: 0.25px;
    color: #000000;
    margin-left: 20px;
}
.card button{
    width: 360px;
    height: 64px;
    background: #3E4095;
    border-radius: 0px 0px 12px 12px;
    font-family: $MainFont;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    color: $white;
}