@import "../../styles/constants.scss";


.master {
  position: relative;
  overflow: hidden;

}

.slider {
  height: 110vh;
  width: 90%;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-items: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  box-sizing: content-box;


  @media #{$desktopXl} {
    height: 100vh;

  }

  @media #{$mobile} {
    height: 130vh;
    flex-direction: column;

  }

  @media #{$mobileXs} {
    height: 120vh;
    flex-direction: column;

  }

}

.slides {
  display: flex !important;
  max-width: 100% !important;
  max-height: 100vh !important;
  box-sizing: content-box;

  @media #{$mobileXs} {
    margin-top: -10%;

  }
}

.slide1 {
  margin-top: 10%;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 47%);
  box-sizing: content-box;


  @media #{$mobile} {
    margin-top: 22%;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
    justify-self: center;
  }

  @media #{$mobileS} {
    margin-top: 26%;
    transform: translateY(100px);
  }

  @media #{$mobileXs} {
    margin-top: -11%;
    transform: translateY(100px);
  }


}

.circle {
  width: 25vw;
  height: 25vw;
  border-radius: 100%;
  background: linear-gradient(180deg, #94D2F6 0%, #061962 100%);
  margin-left: 22vw;

  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  z-index: 105px;

  @media #{$mobile} {
    width: 40vw;
    height: 40vw;
    margin-left: 0%;
    margin-bottom: 10%;

  }

  @media #{$mobileS} {
    width: 60vw;
    height: 60vw;
    margin-left: 0%;
    margin-bottom: 5%;

  }

  @media #{$mobileXs} {
    width: 60vw;
    height: 60vw;
    margin-left: 0%;
    margin-bottom: 5%;
    margin-top: 40%;
  }

  @media #{$desktopXl} {
    width: 25vw;
    height: 25vw;
  }

  img {

    height: 40vh;


    @media #{$mobile} {
      width: 40vw;
      height: auto;
    }

    @media #{$mobileS} {
      width: 60vw;
      height: auto;
    }

    @media #{$desktopXl} {
      height: 50vh;


    }
  }
}

.description {
  height: 100%;
  margin: 18% 33% 0% 0%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-self: flex-start;
  justify-content: center;
  align-self: center;
  text-align: end;
  overflow: visible;


  @media #{$mobile} {
    text-align: center;
    margin: 0% 0% 0% 0%;
    margin-top: 1.2rem;
    align-self: center;
    justify-self: center;
    justify-content: center;
    height: 50vh;
    padding: 0 5%;
    width: 70%;
  }

  h3 {
    align-self: flex-end;
    width: 100%;
    height: 44px;
    overflow: visible;
    font-family: $TitleFont;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 2.2rem;
    color: #393838;



    @media #{$mobile} {
      margin: 0;
      margin: 0;
      font-size: 1rem;
      line-height: 1.2rem;

    }

    @media #{$desktopXl} {
      font-size: 1.3rem;
      line-height: 2.2rem;

    }
  }

  p {
    align-self: flex-end;
    width: 70%;
    height: 44px;
    font-family: $MainFont;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.2rem;
    text-align: right;
    letter-spacing: 0.25px;

    color: #595858;

    @media #{$mobile} {
      text-align: center;
      align-self: center;
      margin: 5% 0% 0 0;
      width: 70%;
      height: 100%;
      font-size: 0.6rem;
      line-height: 0.8rem;
    }

    @media #{$mobileS} {}


  }

  button {
    align-items: center;
    align-self: flex-end;
    // margin: 15% 15% 0 10%;
    width: 157px;
    height: 35px;
    background: #4B73AA;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    color: $white;
    border: none;

    @media #{$desktopXl} {

      margin-top: 7%;


    }

    @media #{$mobile} {

      align-self: center;
      justify-self: center;
      margin: 0 0 70% 0;
      width: 120px;
      margin-top: 2rem;

    }

    @media #{$mobileS} {
      align-self: center;
      justify-self: center;
      margin: 0 0 90% 0;
      width: 120px;
      margin-top: 2rem;


    }

    @media #{$mobileXs} {
      align-self: center;
      justify-self: center;
      margin: 5% 0 90% 0;
      width: 120px;
      margin-top: 2rem;


    }
  }
}

.paginationBtn {
  bottom: -10px !important;
  color: solid black;
  height: 50px;
  align-self: flex-end;
}

.wave {
  background-color: $grey;

  div {
    width: 100%;
    height: 45vh;
    background: rgb(255, 255, 255);
    // background: linear-gradient(185deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 60%, rgba(60,60,60,1) 100%);
    box-shadow: -4px -4px 15px rgba(255, 255, 255, 0.992), 1px -10px 6px #bdbcbc inset;
    // border-radius: 0% 0% 20% 100%;

    @media #{$mobile} {
      border-radius: 0% 0% 0% 20%;
      height: 5vh;

    }
  }

}

.wave_top {
  position: absolute;
  width: 100%;
  top: 0;
}


.wave_bottom {
  position: absolute;
  width: 100%;
  bottom: 0px;
}




.wave_shadow {
  -webkit-filter: drop-shadow(-4px -4px 15px rgba(255, 255, 255, 0.992), 1px -10px 6px #bdbcbc inset);
  filter: drop-shadow(-4px -4px 15px rgba(255, 255, 255, 0.992), 1px -10px 6px #bdbcbc inset);
}



.dots {
  display: flex;
  justify-content: center;
  margin: 0;
  margin: 0 0 0% 0;
  margin: 0px;
  list-style-type: none;

  @media #{$mobile} {
    margin: 0 0 0% 0;
    padding: 0;
  }

}