@import "../../styles/constants.scss";

.products{
    height: 100vh;
    width: 100%;
    background-color:  #fff;
    display: flex;
    flex-direction: row;
}
.circle{
    width: 37vw;
    height: 65vh;
    border-radius: 100%;
    background: linear-gradient(180deg, #94D2F6 0%, #061962 100%);
    margin-left: 10%;
    img{
        width: 37vw;
        height: 65vh;
    }
}
.description{
    width: 100vw;
    height: 100%;
    justify-content: center;
    align-self: center;
    margin: 0 3% 10% 0%;
    display: flex;
    flex-direction: column;

    h3{
        align-self: flex-end;
        width: 433px;
        height: 44px;
        margin: 0 0 0 15% ;

        font-family: $TitleFont;
        font-weight: 700;
        font-size: 2.2rem;
        line-height: 2.2rem;
        color: #393838;
    }
    p{
        align-self: flex-end;
        width: 433px;
        height: 44px;
        margin: 0 0 0 20%;

        font-family: $MainFont;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.2rem;
        /* or 125% */

        text-align: right;
        letter-spacing: 0.25px;

        color: #595858;
    }
    button{
        align-items: center;
        align-self: flex-end;
        width: 157px;
        height: 40px;
        background: #4B73AA;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        color: $white;
        border: none;
        margin-top: 20px;
        
    }
}
.paginationBtn{
    bottom: -10px !important;
    color: solid black;
    height: 50px;
    align-self: flex-end;
}
.wave{
   background-color: $grey;
    div{
        width: 100%;
        height: 45vh;
        background: rgb(255,255,255);
        // background: linear-gradient(185deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 60%, rgba(60,60,60,1) 100%);
        box-shadow: -4px -4px 15px rgba(255, 255, 255, 0.992), 1px -10px 6px #bdbcbc inset;
        border-radius: 0% 0% 20% 100%;
        @media #{$mobile}{
            border-radius: 0% 0% 0% 20%;
            height: 5vh;
    
        }
    }
        
    
}
.navigation{
    background-color: black;
    position: absolute;
    right: 0;
}