@import "../../styles/constants.scss";

.filter {
  height: 100%;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid rgb(194, 194, 194);

  @media #{$mobile} {
    display: none;
    position: fixed;
    width: 100%;
    top: 10vh;
    left: 0;
    z-index: 120;
    overflow: auto;

  }
}

.categories {
  background: #FFFFFF;
  width: 100%;
  // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  // border-radius: 12px;
  padding: 1rem;


  @media #{$mobile} {
    border-radius: 0;
    height: 140vh;
  }

  h3 {
    font-family: $TitleFont;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #595858;
    padding: 20px 0 0 15px;

  }
}

.category {
  img {
    margin: 0 0 0 5px;
  }

  div {
    margin: -23px 0 18px 40px;


  }

  a {
    font-family: $TitleFont;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #595858;

  }

  :hover {
    color: grey;
  }

  color: #595858;
  margin: 0 0 0 13px;
}

.categoryPanel {
  padding: 0;

  a {
    font-family: $TitleFont;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 0 13px;
  }

  li {
    font-family: $MainFont;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 7px 35px;
    color: #595858;
    cursor: pointer;
  }
}

.marcas {
  font-family: $TitleFont;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 20px !important;
  line-height: 20px !important;
  color: #595858;
  padding: 3px 0 0 0px;
  margin: 0 0 0 0px !important;
}

.products {
  grid-column: 2;

  @media #{$mobile} {
    display: none;

  }
}


// .input{

//  
.input {
  width: 80%;
  height: 40px;
  background: #FFFFFF;
  border: none;
  border-bottom: 1px solid #595858;
  margin: 10px auto auto auto;
  display: flex;
  align-self: center;
  justify-self: center;
  font-family: $MainFont;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #595858;

  @media #{$mobile} {

    padding: 100px;
  }

}

.input::placeholder {
  margin: 0 0 0 55px;
}

.input:focus {
  border: 1px solid transparent;
  outline: none;
  border-bottom: 1px solid black;

}

.carrousel {
  display: none;
  width: 100%;
  height: 100%;

  @media #{$mobile} {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;


  }
}

.icon_mobile {
  display: none;


  @media #{$mobile} {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: start;
    justify-self: start;
    position: fixed;
    -webkit-box-shadow: 3px 4px 5px 0px rgb(41, 41, 41);
    -moz-box-shadow: 3px 4px 5px 0px rgb(56, 56, 56);
    box-shadow: 3px 4px 5px 0px rgb(67, 67, 67);
    bottom: 1rem;
    left: 1rem;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #3E4095;


  }
}

.close {
  margin: 0 0 3% 90%;
  font-size: 2rem;
  border-radius: 200px;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  fill: black;
  z-index: 5500;

  @media #{$desktop} {
    display: none;

  }
}