@import "../../styles/constants.scss";

.hero {
  width: 100%;
  height: 110vh;
  // background-color: #E5E5E5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  overflow: hidden;
  background-color: #6F6BC0;

  @media #{$mobile} {
    flex-direction: column-reverse;
    height: 100vh;
    background-color: transparent;

  }

}

.seccion2 {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;

  @media #{$mobile} {
    width: 100%;
    height: 100vh;

  }

  img {
    align-self: left;
    // width: 100%;
    height: 100vh;
    margin: 0px -5px 0px 0px;
    overflow: hidden;

    @media #{$desktopXl} {
      // width: 100%;
      // height: 100vh;
    }

    @media #{$mobile} {
      align-self: left;
      // margin-left: 50%;
      width: 200%;
      // width: 100%;
      // height: 100vh;

    }
  }
}



.seccion1 {
  width: 50%;
  margin: 0 0% 0 0%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;


  @media #{$desktop} {
    width: 65%;
  }

  @media #{$desktopXl} {
    width: 50%;
  }

  @media #{$mobile} {
    width: 100%;
    justify-content: top;
    align-items: center;
    text-align: center;
    margin: 0 0% 0 0%;
    z-index: 100;
    position: absolute;
    top: 20%;
  }

  img {
    width: 70%;
    height: 80%;
    // margin: auto auto auto 25%;

    @media #{$mobile} {
      // top: 50%;
      // left: 20vw;
      width: 100%;
      height: 45%;
      z-index: 1300;
      margin: auto;
    }

    @media #{$mobileS} {

      // top: 15vh;
      // left: 12vw;
      width: 100%;
      height: 45%;
      z-index: 1300;

    }

  }

  p {
    width: 100%;
    height: 48px;
    font-family: $TitleFont;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.4rem;
    text-align: center;
    color: #d7d7d7;

    @media #{$mobile} {
      font-weight: 600;
      font-size: 1rem;
      line-height: 1.6rem;

      top: 60vh;
      z-index: 1300;
      color: #fff;
      width: 85%;

    }

    @media #{$mobileXs} {
      width: 90%;
      font-size: 1rem;
    }


  }


}

.layout {
  display: none;

  @media #{$mobile} {
    display: block;
    background-color: rgba(130, 56, 242, 0.702);
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;

  }
}


.search {
  font-size: 1rem;
  position: absolute;
  color: white;
  top: 59%;
  left: 38.5%;

  @media #{$mobile} {
    position: absolute;
    top: 72vh;
    left: 80vw;
    z-index: 1400;
    color: #757575;

  }

  @media #{$mobileXs} {

    margin-top: 10px;

  }
}

.wave {
  // @media #{$mobile} {
  //   display: none;
  // }
  z-index: 1500;
  position: absolute;
  width: 100%;
}