@import "../../styles/constants.scss";

.hero {
  width: 100%;
  height: 110vh;
  // background-color: #E5E5E5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  overflow: hidden;
  background-color: #6F6BC0;

  @media #{$mobile} {
    flex-direction: column-reverse;
    height: 110vh;

  }

}

.seccion2 {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;

  @media #{$mobile} {
    width: 100%;
    height: 100vh;
    margin: 10vh 0 0 0;
  }

    img {
      align-self: center;
      width: 67vh;
      height: 100vh;
      margin: 0px -5px 0px 0px;
      overflow: hidden;

      @media #{$desktopXl}{
        width: 100vh;
        height: 100vh;
      }

      @media #{$mobile} {
        width: 200%;
        height: 100vh;

      }
    }
  }



.seccion1 {
  width: 30%;
  margin: 0 0% 0 10%;
  display: flex;
  flex-direction: column;
  
  @media #{$mobile} {
    width: 100%;
    height: 0vh;
    justify-content: top;
    align-items: center;
    margin: 0 0% 0 0%;
    z-index: 100;

  }

  img {

    @media #{$mobile} {
      position: absolute;
      top: 15vh;
      left: 16vw;
      z-index: 1200;
      width: 75%;
      height: 25%;
      z-index: 1300;

    }

  }

  p {
    width: 426px;
    height: 48px;
    font-family: $TitleFont;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4rem;
    text-align: center;
    color: #d7d7d7;

    @media #{$mobile} {
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.2rem;
      position: absolute;
      top: 60vh;
      z-index: 1300;
      color: #fff;
      
    }

    @media #{$mobileXs} {
      width: 65%;

    }
  }
  .divSearch{
    width: 100%;
    @media #{$mobile} {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    input {
      width: 100%;
      height: 45px;
      font-size: 1rem;
      border: none;
      background-color: #f6f6f600;
      border-bottom: 1px solid white;
      color: white;
      margin-bottom: 30%;
  
    @media #{$mobile} {
      background: #F6F6F6;
      padding: 0 10%;
      border-radius: 200px;
      border: none;
      z-index: 1300;
      position: absolute;
      top: 70vh;
      width: 75%;
      z-index: 1300;
      margin: auto;
  
      @media #{$mobileXs} {
        padding: 0 10%;
        border-radius: 20px;
        margin-top: 10px;
  
      }
    }
  }
    input::placeholder{
      color: white;
      @media #{$mobile} {
        color: #757575;
      }
    }
    input:focus{
      border: 1px solid transparent;
      outline: none;
      border-bottom: 1px solid white;
  }
  
  
  
  }
    
}
.layout{
  display: none;
  @media #{$mobile} {
    display: block;
    z-index: 1250;
    background-color: rgba(130, 56, 242, 0.2);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 10vh;

  }
}


.search{
  font-size: 1rem;
  position: absolute;
  color: white;
  top: 60.5%;
  left: 38.5%;
  @media #{$mobile} {
    position: absolute;
    top: 72vh;
    left: 80vw;
    z-index: 1400;
    color: #757575;
    
  }
  @media #{$mobileXs} {

    margin-top: 10px;

  }
}
.wave{
  @media #{$mobile} {
    z-index: 1400;
  }
}