@import "../../styles/constants.scss";

.contact{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden;
    background-color: $grey;
}
.circle{
    width: 90%;
    height: 100%;
    background: #6F6BC0;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    margin-right: -8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media #{$mobile}{
        height: 100%;
        border-radius:50%  50% 0% 0% / 30% 30% 0% 0%;
        margin: 0 0 0 0;
        width: 100%;
        background: rgba(111, 107, 192, 0.4);

        }


}
.content{
    width: 420px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    @media #{$mobile}{
        display: none;

        }

    h5{
        font-family: $TitleFont;
        font-weight: 700;
        font-size: 1.3rem;
        line-height: 1.3rem;
        color: $white;
        margin: 15% 0 20px 0;
    }
    p{
        font-family: $MainFont;
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 1.3rem;
        color: $white;
    }
    input{
        width: 100%;
        height: 40px;
        border-radius: 5px;
        margin-bottom: 30px;
        border: none;
    }
    textArea{
        width: 100%;
        height: 30%;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    button{
        width: 417px;
        height: 36px;
        left: 736px;
        top: 3439px;
        border: none;
        background: #3E4095;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 12px;
        color: white;

        font-family: $MainFont;
        font-weight: 600;
        font-size: 1rem;
    }
    
}
.contentMobile{
    @media #{$mobile}{
        width: 80%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        h5{
            font-family: $TitleFont;
            font-weight: 700;
            font-size: 1.3rem;
            line-height: 1.3rem;
            color: $white;
            margin: 15% 0 20px 0;
        }
        p{
            font-family: $MainFont;
            font-weight: 400;
            font-size: 1.3rem;
            line-height: 1.3rem;
            color: $white;
        }
        input{
            width: 100%;
            height: 40px;
            border-radius: 5px;
            margin-bottom: 30px;
            border: none;
        }
        textArea{
            width: 100%;
            height: 30%;
            border-radius: 5px;
            margin-bottom: 20px;
        }
        button{
            background: none;
            color: white;
            border: none;
            font-family: $TitleFont;
            font-weight: 700;
            font-size: 1rem;
            line-height: 1rem;
        }
        }
        @media #{$desktop}{
            display: none;
        }
}