@import "../../styles/constants.scss";

.body {
  background-color: #E5E5E5;
}

.container {
  height: 100%;
  width: 80%;
  margin: 10%;
  margin-top: 5%;
  margin-bottom: 0;
  padding-bottom: 10%;

  // background-color: white;
  border-radius: 400px 200px 200px 400px;

  // background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='80' height='20' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M-20.133 4.568C-13.178 4.932-6.452 7.376 0 10c6.452 2.624 13.036 5.072 20 5 6.967-.072 13.56-2.341 20-5 6.44-2.659 13.033-4.928 20-5 6.964-.072 13.548 2.376 20 5s13.178 5.068 20.133 5.432'  stroke-width='1' stroke='hsla(259, 0%, 90%, 0.37)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");

  @media #{$mobile} {
    margin-top: 15%;
    margin-bottom: 15%;
    width: 100%;
    margin: 10% 0;
  }
}


.punchLine {
  font-size: 1.5rem;
  padding: 7% 20%;
  text-align: center;
  padding-top: 3%;

  @media #{$mobile} {
    font-size: 1.5rem;
    margin-bottom: 3rem;
    width: 100%;
    padding: 10%;
  }

}

// .main {
//   background-color: white;
//   border: 1px solid grey;
// }

.action {
  display: flex;
  flex-direction: row;
  margin-top: 0%;

  padding: 0 10%;

  @media #{$mobile} {
    padding: 5%;
    display: flex;
    flex-direction: column;
  }

  .imageContainer {
    width: 30%;
    z-index: 1;

    @media #{$mobile} {
      width: 100%;
    }

    .image {
      background-image: url(../../public/oficinaAbout.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 500px;
      height: 50vh;
      width: 50vh;

      @media #{$mobile} {
        border-radius: 500px 500px 0 0;
        width: 100%;
      }
    }

    .image2 {
      background-image: url(../../public/deposito.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 500px;
      height: 50vh;
      width: 50vh;

      @media #{$mobile} {
        border-radius: 500px 500px 0 0;
        width: 100%;
      }
    }

  }

  .text {
    width: 70%;
    background-color: white;
    border-radius: 50px;
    // border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    padding-left: 15%;
    // padding-top: 5%;
    padding-right: 10%;
    font-size: 1rem;

    @media #{$mobile} {
      padding: 10%;
      width: 100%;
      border-radius: 0 0 50px 50px;
      height: 100%;
      padding-bottom: 15%;
      font-size: 1rem;
    }
  }
}


// --------------------------- SECCION 2
.seccion2 {
  width: 100%;
  height: 100%;
  margin: 0 0 0 0px;

  background-image: url(../../public/oficinaAbout.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-row: 1;
  grid-column: 2;

  @media #{$mobile} {
    width: 100%;
    height: 35vh;
  }

}

.statistics {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 10%;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin-bottom: 10%;

  @media #{$mobile} {
    flex-direction: column;
  }

  span {
    color: #6F6BC0;
    font-size: 2rem;
    font-weight: bold;
  }
}