@import "../../styles/constants.scss";


.toolbar {
   position:fixed;
   padding-top: 1.4rem;
   display:flex;

   background-color: transparent;
   top:0;
   right: 1rem;  
   z-index:5500;
   color: #3E4090;    
   @media #{$desktop}{
      display: none;
      overflow: hidden;

      }  
}  
.burgerIcon {
      width: 45px;
      z-index:1000;
      padding:0;
      text-decoration:none;
      background-color: transparent;
      border: none;
      color: #3E4090;
      cursor: pointer;
      overflow: hidden;

}

   
