@import "../../styles/constants.scss";


.side_drawer_open{    
   margin:0;
   position:fixed;
   top:0;
   left:0;
   width:100%;
   z-index:4000;
   
   overflow-y: nscroll;
   position:fixed;
   height:100vh;
   width:100vw;
   background-color: #F6F6F6;
   backdrop-filter: blur(8px);
   background-attachment: fixed;
   background-size: cover;
   transition: opacity 0.3s;
   -webkit-transition: opacity 0.3s;
   opacity: 1;
   @media #{$desktop}{
    display: none;
    // font-size:4rem;
    // width:5rem;
    // height: 5rem; 
}

   .close{
      position:absolute;
      top:1rem;
      right: 0.2rem;
      font-size:2rem;
      border-radius:200px;
      width:3rem;
      height:3rem; 
      cursor: pointer;
      fill: black;
      z-index: 1500;
      @media #{$desktop}{
        top:0.6rem;
        right: 1rem;
        // font-size:4rem;
        // width:5rem;
        // height: 5rem; 
    }
      
   }

   ul {
      height:100%;
      list-style:none;
      display:flex;
      flex-direction:column;
      justify-content: flex-start;
      align-content: center;
      align-items: center;
      padding:0;
      padding-top:4rem;

      margin:0;  
      cursor: default;
      color: #595858;

        
      li{    
            width: 100%;
            height: 64px;
            cursor: pointer;
            text-decoration:none;
            margin:0;
            border: 1px solid #D8D8D8;
            border-top: none;
            font-family: $MainFont;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            /* identical to box height */
            color: #595858;
            @media #{$desktop}{
                font-size: 2rem;
                padding: 1rem 1.5rem;

            }



            a{
                color: #595858;
                font-size: 16px;

                text-decoration:none;
                padding:0 1rem;
                margin:0;
                padding:0;
                cursor: pointer;
                @media #{$desktop}{
                    font-size: 2rem;
                    padding: 1rem 1.5rem;
    
                }
            }
            


        }

        li{    
           cursor: pointer;
            padding: 1rem 0;
            overflow: hidden;
            @media #{$desktop}{
                padding: 1rem 1.5rem;

            }
            

            a{
                color: #595858;
                font-size: 1.8rem;
                font-family: $MainFont;
                font-weight: 400;

                text-decoration:none;
                font-size: 16px;
                margin:0 0 0 13px;
                @media #{$desktop}{
                    font-size: 16px;
                    padding: 1rem 1.5rem;
    
                }
           
            }
        }
    }
}


.side_drawer{
    height:100vh;
    margin:0;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    max-width:400px;
    z-index:-200;
   //  transform:translateX(-100%);
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    opacity: 0;


}

.collapse{
    width: 100%;
    text-decoration:none;
    justify-self: flex-start;
    align-self: flex-start;
    border: none;
    background-color: #F6F6F6;
    


    /* identical to box height */
}
.collapse2{
    width: 100%;
    text-decoration:none;

    border: none;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    align-self: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    justify-items: flex-start;

    div{

    }
    
    /* identical to box height */
}

.panel{
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    align-self: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    justify-items: flex-start;
    width: 100%;
    text-align: start;
    color: #595858;
    background-color: #F6F6F6; 
         


    a{
        font-size: 16px;
        font-family: $MainFont;
        font-weight: 400;
        margin:0;
        cursor: pointer;
        width: 100%;

    }
    
    div{
        background-color: #F6F6F6;
        width: 100%;

    }

    input{
        width: 374px;
        height: 40px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 12px;
        border: none;
        margin-bottom: 10px;
    }
}

.items{
    border-bottom: 1px solid #D8D8D8;
    width: 100%;
    height: 50px;
    display:flex;
    flex-direction:row;
    align-content: center;
    align-items: center;

    /* identical to box height, or 125% */
    
    

    img{
        margin-right: 20px;
    }

    a{
        color: #595858;
        font-family: $MainFont;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
    }

 
}
